<form [formGroup]="forms" (submit)="submit()">

  <input type="text" placeholder="nome" formControlName="nome" [class.invalid]="validar('nome')" >
  @if (errorMessage('required','nome')) {
    <p class="error">Este campo e obrigatorio</p>
  }
  <input type="text" placeholder="email" formControlName="email" [class.invalid]="validar('email')" >
  @if (errorMessage('required','nome')) {
    <p class="error">Este campo e obrigatorio</p>
  }
  @if (errorMessage('email','email')) {
    <p class="error">Este campo deve ser um email</p>
  }
  <button>Salvar</button>
  {{forms.valid}}
</form>